.th-body-wrapper {
  @apply grid grid-rows-12 gap-1;
  height: 500px; /* Set a fixed height for the container */
}

.title-wrapper {
  @apply row-span-1 flex flex-col justify-center text-3xl font-bold text-center mt-5;
}

.th-data-wrapper {
  @apply row-span-11 grid-rows-12 gap-1 mt-16;
  overflow-y: scroll; /* Use overflow-y instead of overflow-y-scroll */
  max-height: calc(100% - 50px); /* Adjust the max-height as per your layout */
}

.header {
  @apply text-purple-500 font-bold;
}
